<h1>Hello world from <%= @name %>!</h1>

<!-- Note: Rails will refer to the root at this point as a shorter url -->
<%= link_to('Index Page', {:action => 'index'}) %>
<br>
<!-- more or less php tags w/o echo -->
<% 1 + 1 %>

<!-- {{ }} from blade or php with echo -->
<%= 2 + 2 %>

<!-- seems to escape by default -->
<%= '<p>Does This Escape HTML</p>' %>

<!-- does not escape now -->
<%= '<p>Does This Escape HTML</p>'.html_safe %>


<%= raw '<p>Does This Escape HTML</p>' %>

<%
3.times do |n|
    puts n # outputs to the console, not same as echo
end
%>

<br>
<% 3.times do |n| %>
  <%= n %><br>
<% end %>

<br>
<!-- params are always strings -->
ID <%= @id %> <br>
Page <%= @page %> <br>