<h1>Hello World from index!</h1>

<!-- same thing -->
<a href="/demo/hello">Hello Page 1</a>
<br>
<%= link_to('Hello Page 1', '/demo/hello') %>
<br>
<%= link_to('Hello w/ Params', {:action => 'hello', :page => 5, :id => 20}) %>