<%= error_messages_for(f.object) %>

<table summary="Section form fields">
    <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
    </tr>
    <tr>
        <th>Page</th>
        <td><%= f.object.page.name %></td>
    </tr>
    <tr>
        <th>Position</th>
        <td><%= f.select(:position, 1..@section_count) %></td>
    </tr>
    <tr>
        <th>Visible</th>
        <td><%= f.check_box(:visible) %></td>
    </tr>
    <tr>
        <th>Content Type</th>
        <td>
            <%= f.radio_button(:content_type, 'text') %> Text 
            <%= f.radio_button(:content_type, 'HTML') %> HTML
        </td>
    </tr>
    <tr>
        <th>Content</th>
        <td><%= f.text_area(:content, :size => '40x10') %></td>
    </tr>
</table>