<% if !flash[:error].blank? %>
  <div class="error">
    <%= flash[:error] %>
  </div>
<% end %>


<%= link_to("<< Back to List", sections_path(page_id: @page.id), :class => 'back-link') %>

<div class="sections new">
  <h2>Create Section</h2>

  <%= form_for(@section, url: sections_path(page_id: @page.id)) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Create Section") %>
    </div>

  <% end %>
</div>
