<%= link_to("<< Back to List", sections_path(page_id: @page.id), :class => 'back-link') %>

<div class="sections new">
  <h2>View Section</h2>
    <table summary="Section form fields">
      <tr>
        <th>Name</th>
        <td><%= @section.name %></td>
      </tr>
      <tr>
        <th>Page #</th>
        <td><%= @section.page_id %></td>
      </tr>
      <tr>
        <th>Position</th>
        <td><%= @section.position %></td>
      </tr>
      <tr>
        <th>Visible</th>
        <td><%= @section.visible %></td>
      </tr>
      <tr>
        <th>Content Type</th>
        <td><%= @section.content_type %></td>
      </tr>
      <tr>
        <th>Content</th>
        <td><%= @section.content %></td>
      </tr>
    </table>
</div>

