<%= link_to("<< Back to List", pages_path(subject_id: @subject.id), :class => 'back-link') %>

<div class="pages new">
  <h2>Update Page</h2>

  <%= form_for(@page, url: page_path(@page, subject_id: @subject.id)) do |f| %>
    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Update Page") %>
    </div>

  <% end %>
</div>
