<%= error_messages_for(f.object) %>

<table summary="Subject form fields">
    <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
    </tr>
    <tr>
        <th>Position</th>
        <td><%= f.select(:position, 1..@subject_count) %></td>
    </tr>
    <tr>
        <th>Visible</th>
        <td><%= f.check_box(:visible) %></td>
    </tr>
</table>
