<%= error_messages_for(f.object) %>

<table summary="Admin User form fields">
    <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
    </tr>
    <tr>
        <th>User Name</th>
        <td><%= f.text_field(:username) %></td>
    </tr>
    <tr>
        <th>Email</th>
        <td><%= f.email_field(:email) %></td>
    </tr>
    <tr>
        <th>Password</th>
        <td><%= f.password_field(:password) %></td>
    </tr>
    <tr>
        <th>Password Confirmation</th>
        <td><%= f.password_field(:password_confirmation) %></td>
    </tr>
</table>