<%= link_to("<< Back to List", admin_users_path, :class => 'back-link') %>

<div class="admin_users delete">
  <h2>Delete Page</h2>

  <%= form_for(@admin_user, :method => 'delete') do |f| %>

    <p>Are you sure you want to permanently delete this AdminUser?</p>

    <p class="reference-name"><%= f.object.username %></p>

    <div class="form-buttons">
      <%= f.submit("Delete Admin User") %>
    </div>

  <% end %>
</div>
