<%= link_to("<< Back to List", admin_users_path, :class => 'back-link') %>

<div class="admin_users new">
  <h2>Update Admin User</h2>

  <%= form_for(@admin_user) do |f| %>
    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Update Admin User") %>
    </div>

  <% end %>
</div>
