<div class="admin_users index">
  <h2>Admin Users</h2>

  <%= link_to("Add New Admin User", new_admin_user_path, :class => 'action new') %>

  <table class="listing" summary="admin_user list">
    <tr class="header">
      <th>#</th>
      <th>Name</th>
      <th>User Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    <% @admin_users.each do |admin_user| %>
    <tr>
      <td><%= admin_user.id %></td>
      <td><%= admin_user.name %></td>
      <td><%= admin_user.username %></td>
      <td><%= admin_user.email %></td>
      <td class="actions">
        <%= link_to("Edit", edit_admin_user_path(admin_user), :class => 'action edit') %>
        <%= link_to("Delete", delete_admin_user_path(admin_user), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
