<% if object && object.errors.size > 0 %>
    <div id="error-explanation">
        <h2>
            <%= pluralize(object.errors.size, 'error') %> prohibited this record from being saved.
        </h2>

        <p>There were problems with the following:</p>

        <ul>
        <% object.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
<% end %>