<!DOCTYPE html>
<html>
    <head>
        <title>Simple CMS: <%= @page_title || "Admin Area" %></title>

        <%= stylesheet_link_tag('admin', :media => 'all') %>
        <%= javascript_pack_tag('application') %>
    </head>

    <body>
        <header id="header">
            <h1>Simple CMS Admin</h1>
        </header>

        <main id="main">
            <% if !flash[:notice].blank? %>
                <div class="notice">
                    <%= flash[:notice] %>
                </div>
            <% end %>

            <div id="content">
                    <%= yield %>
            </div>

        </main>

        <footer id="footer">
            <p id="copyright">
                &copy; cheese.com
            </p>
        </footer>
    </body>
</html>