<!DOCTYPE html>
<html>
    <head>
        <title>Simple CMS <%= " | #{@page_title}" if @page_title %></title>

        <%= stylesheet_link_tag('application', :media => 'all') %>
        <%= javascript_pack_tag('application') %>
    </head>

    <body>
        <header id="header">
            <h1>Simple CMS</h1>
        </header>

        <main id="main">

            <div id="navigation">
                <%= render partial: 'layouts/navigation', locals: {subjects: @subjects} %>  
            </div>
            
            <div id="content">
                    <%= yield %>
            </div>

            <div class="clear"></div>
        </main>

        <footer id="footer">
            <p id="copyright">
                &copy; cheese.com
            </p>
        </footer>
    </body>
</html>